<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A home automation system based on the Raspberry Pi">
    <meta name="author" content="http://github.com/lukeryannetnz">
    <link rel="icon" href="../../favicon.ico">

    <title>Alfred</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">

    <!-- alfred CSS -->
    <link href="../../static/alfred.css" rel="stylesheet">

    <script src="../../bower_components/react/react.js"></script>
    <script src="../../bower_components/react/JSXTransformer.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/admin/">Admin</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Alfred</h3>
      </div>

      <div class="jumbotron">
        <h1>Ryan Home</h1>
        <p class="lead">Welcome home Ryan family. I hope you had a good day. Take a load off, what can I do for you?</p>
      </div>

      <div class="row" id="devicelist">
      </div>

      <script type="text/jsx">
           var Device = React.createClass({

             getInitialState: function() {
              return {toggled: false};
             },


             handleClick: function(event){
                that = this;
                console.log('click' + this.props.pk)
                $.ajax({
                  headers : {
                      'Accept' : 'application/json',
                      'Content-Type' : 'application/text'
                  },
                  url : '/api/devices/' + this.props.pk,
                  type : 'PATCH',
                  data : 'toggle',
                  success : function(response, textStatus, jqXhr) {
                      that.setState({toggled: !that.state.toggled});
                      console.log("Device Successfully Patched!");
                  },
                  error : function(jqXHR, textStatus, errorThrown) {
                      console.log("The following error occured: " + textStatus, errorThrown);
                  }
                });
             },

             render: function(){

                  var buttonclasses = 'btn btn-primary btn-lg';
                  if(this.state.toggled){
                    buttonclasses = buttonclasses + ' active';
                  }

                  var imageStyle = {
                  backgroundImage: 'url(' + this.props.image + ')',
                  };
                  return <div className="col-sm-6 col-md-4">
                          <div className="thumbnail">
                            <div className ="image" style={imageStyle}></div>
                            <div className="caption">
                              <h3>{this.props.location}</h3>
                              <p>{this.props.description}</p>
                              <p><a className={buttonclasses} role="button" onClick={this.handleClick}>On/Off</a></p>
                            </div>
                          </div>
                         </div>
             }
           });

           var DeviceList = React.createClass({
             getInitialState: function(){
                  return { devices: [] };
              },
             componentDidMount: function(){
                // When the component loads, send a jQuery AJAX request
                var self = this;

                var url = 'api/devices/';
                $.getJSON(url, function(result){
                    if(!result || !result.items || !result.items.length){
                        console.log("no data returned")
                        return;
                    }

                    console.log("setting data state")

                    // Update the component's state. This will trigger a render.
                    self.setState({ devices: result.items });

                });
             },
             render: function(){
               var self = this;
               console.log("render triggered")

               var deviceComponents = this.state.devices.map(function(d){
                  return <Device location={d.location} description={d.description} key={d.pk} pk={d.pk} image={d.image} />
               });


               return <div>{deviceComponents}</div>
             }
           });

           React.render(
             <DeviceList />,
             document.getElementById('devicelist')
           );
         </script>

        <footer class="footer">
          <p>&copy; Instantiate software 2015</p>
        </footer>

    </div>
  </body>
</html>
